.button-as-text {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

#board > div {
    background-color: blue;
    vertical-align: top;
}

#board > div.sorted {
    background-color: green;
}

#board > div.selected {
    background-color: red;
}

#board > div.next {
    background-color: yellow;
}

#runButton {
    color: green;
}

#runButton[disabled],
#algorithms[disabled],
#newArray[disabled],
#testButton[disabled] {
    color: red;
}

#algorithms > option[disabled] {
    display: none !important;
}