.button-as-text {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

#list > div {
    background-color: blue;
    vertical-align: top;
}

#list > div.sorted {
    background-color: green;
}

#list > div.selected {
    background-color: red;
}

#list > div.next {
    background-color: yellow;
}

#run-button {
    color: green;
}

#run-button[disabled],
#algorithms[disabled],
#newArray[disabled],
#test-algorithms[disabled] {
    color: red;
}

#test-algorithms[disabled],
#algorithms > option[disabled] {
    display: none !important;
}